body{
  background-color: #eee !important;
}
.custom-accordion {
    background: linear-gradient(to right, #6c9cff, #4581ff);
    border: 1px solid linear-gradient(to right, #6c9cff, #4581ff);
    border: none !important;
  }

  a{
    color:#fff !important;
    text-decoration:none !important;
    font-family:'vazir' !important;
    font-size:11pt !important;
  }

  .custom-accordion-body {
    background: linear-gradient(to right, #6094ff, #2a6fff);
    border: 1px solid linear-gradient(to right, #6c9cff, #2a6fff);
    border: none !important;
  }

.color-white{color:#fff !important}
.cursor-pointer{cursor: pointer !important}

.accordion-button::after{
    position: absolute;
    left: 10px;
    color: #fff !important;
}

.info-form{
    display: inline;
    box-shadow:rgb(189, 189, 189) -1px 7px 9px;
    border-radius: 10px;
    width:95% !important;
    background-color: #fff;
    position: relative;
    top:40px !important;
    font-family: 'vazir' !important;
    float: right;
}

#info-form-btn{
    width: 120px;
    height: 32px;
    border-radius: 10px;
    font-size: 10pt;
    float: left;
}

.info-form-input{
    width: 30% !important; 
    margin-right: 10px;
    margin-top: 10px;
    height: 40px;
    border-radius: 10px !important;
    float: right;
    font-size: 10pt;
}

.inputSearch{
  width: 20%;
  height: 32px;
  padding-right: 25px !important;
  border-radius: 10px;
}

.iconSearch{
  position: absolute;
  top:15px;
  right: 12px;
  color: #3e7bfa;
}

.items .col-2{
  float: right;
  text-align: center;
  font-size: 16px;
  font-family: 'yekan';
  font-weight: bold;
  line-height: 45px;
}

.items .col-3{
  float: left;
  height: 100%;
  width: 20%;
  text-align: center;
}

.items .col-3 button{
  margin-top: 10px;
  margin-left: 20px;
}

.head{
  width: 17%!important;
}

.searchdiv{
  width: 17%!important;
}


.pagination{
  direction: ltr;
  width:150px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

/* /////////////////////////////////////////////////////// */

.inputSearch2{
  width: 80%!important;
  height: 32px;
  padding-right: 15px !important;
  border-radius: 10px;
}

.head2{
  width: 13.5%!important;
}

.searchdiv2{
  width: 14%!important;
}

.items2 .col-2{
  float: right;
  text-align: center;
  font-size: 16px;
  font-family: 'yekan';
  font-weight: bold;
  line-height: 30px;
  width: 10%;
  overflow: hidden;
}

.items2 .col-3{
  float: left;
  height: 100%;
  width: 20%;
  text-align: center;
}

.items2 .col-3 button{
  margin-top: 10px;
  margin-left: 20px;
}

/* /////////////////////////////////////////////////////// */

.inputSearch3{
  width: 70%!important;
  height: 32px;
  padding-right: 15px !important;
  border-radius: 10px;
}

.head3{
  width: 12.5%!important;
}

.searchdiv3{
  width: 13%!important;
}

.items3 .col-2{
  float: right;
  text-align: center;
  font-size: 16px;
  font-family: 'yekan';
  font-weight: bold;
  line-height: 20px;
  width: 11.3%;
  overflow: hidden;
}

.items3 .col-3{
  float: left;
  height: 100%;
  width: 15%;
  text-align: center;
}

.items3 .col-3 button{
  margin-top: 10px;
  margin-left: 20px;
}


/* /////////////////////////////////////////////////////// */


.valid-input {
  border: 1px solid #12a668 !important;
}

.custom-select{
  position: relative;
}
.custom-select::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}


/* /////////////////////////////////////////////////////////// */

@media screen and (max-width: 952px) {
  .items .col-3{
    width: 18%;
  }
}

@media screen and (max-width: 786px) {
  .searchs .col-auto{
    width: 132px;
  }
}

/* /////////////////////////////////////////////////////////// */

